html {
    box-sizing: border-box;
    color: #EEEEEE;
    background-color: #121212;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.container > * {
  flex: 1 100%;
}

@media all and (min-width: 1100px) {
    .grid-container {
        flex: 3 0px;
        order: 2;
    }
    #info { 
        flex: 1 auto;
        padding: 10px;
        order: 1; 
    }
    #fleet { 
        flex: 1 auto;
        padding: 10px;
        order: 3; 
    }
}

.grid-container {
    flex: 3 100%;
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
    max-height: 700px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-template-areas: "overlay";
}

#gameboard-overlay {
    background-color: rgba(0,0,0,0.5);
    grid-area: overlay;
    
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#gameboard-load {
    background-color: rgba(0,0,0,0.5);
    grid-area: overlay;
    
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#gameboard {
    display: grid;
    grid-area: overlay;
    grid-template-columns: repeat(11, 1fr);
}

#gameboard > div {
    line-height: 0;
    text-align: center;
    border: 1px solid white;
}

.border-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
}

.border-cell,
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    cursor: pointer;
    color: #232323;
}

.cell:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0) !important;
}

.cell > svg {
    z-index: 1;
    width: 55px;
    height: 55px;
    color: #383838;
    position: absolute;
}


@media all and (max-width: 600px) {
    .cell > svg {
        width: 30px;
        height: 30px;
    }
    
    .best-cell {
        display: none;
    }
}

.border-cell {
    background-color: #D3D3D3;
}

.label {
    font-family: helvetica;
    font-size: 1.25em;
}

#fleet {
    float: left;
}

.card {
    color: #232323;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.wheel {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
